body {
  margin: 0px
}

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #1e1e1e;
  color: #f8f8f8;
}
:root.light {
  background-color: #ffdfdf;
  color: #3a3a3a;
}
:root.dark {
  background-color: #1e1e1e;
  color: #f8f8f8;
}