.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #666;
}

.card button:hover {
    background-color: #0056b3;
}

.contactSelection {
    color: white;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column
}

.contactSelection.light {
    background-color: rgb(228, 140, 9);
}

.contactSelection.dark {
    background-color: #002a37;
}

.showHover p {
    display: none;
}

.showHover:hover p {
    display: block;
}

.card img {
    position: absolute;
    height: 100px
}


.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.card {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img {
    position: absolute;
    height: 20px;
}

@media only screen and (max-width:800px) {
    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 14px;
        flex-grow: 1;
        /* hogy a szöveg elfoglalja a köztes helyet */
    }

 

    .card button {
        visibility: hidden;
    }

    .showHover p {
        display: block;
        position: absolute;
        bottom: -45%;
    }
}