/* Alap stílusok a slide-hoz */
.slide {
  display: flex;
  /* A kép és a szöveg sorba rendezése */
  align-items: center;
  /* Kép és szöveg vertikális középre igazítása */
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 126vh;
  /* Ezt hozzáadva biztosítjuk, hogy a szélesség fix legyen */
  height: 100%;
  /* Magasságot is rögzítünk, hogy ne legyen ugrálás */
  max-width: 100%;
  /* Ne engedje, hogy túlnőjön a szülő konténeren */
  max-height: 100%;
  /* A magasságot is korlátozzuk */
  transition: background-color 3s ease, color 3 ease;
}

.slide.light {
  background-color: var(--orange-half-visible);
  color: var(--black);
}

.slide.dark {
  background-color: var(--lightgray-half-visible);
  color: var(--white);
}

.slider-button {
  color: var(--white);
}

/* A kép és szöveg maximális megjelenítése */
.slide-picture {
  flex: 0 0 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  /* Maximális szélesség beállítása */
  max-height: 100%;
  /* Maximális magasság beállítása */
}

/* Kép stílusok */
.slide-picture img {
  width: 100%;
  /* Az egész szélességet kitölti */
  height: 100%;
  /* Magasság beállítása */
  object-fit: cover;
  /* Az arányok megtartása */
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  /* Finomabb váltás */
}

.slide-text {
  margin: 100px;
}

.slide-linkek {
  display: flex;
  justify-content: space-around;
}


.slide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  /* Térköz a két rész között */
}

.slide-text-left {
  flex: 6;
  /* 60% arány */
  padding-left: 20px;
  /* Üres hely bal oldalon */
  box-sizing: border-box;
}

.slide-picture-right {
  flex: 4;
  /* 40% arány */
  padding-right: 20px;
  /* Üres hely jobb oldalon */
  box-sizing: border-box;
}

.slide-picture-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* A reszponzív megjelenéshez biztosítjuk, hogy ne legyenek nagyobbak a képek */
@media (max-width: 768px) {
  .slider-button {
    height: 25vh;
  }

  .slide {
    display: flex;
    width: 100%;
    height: 75vh;
    /* Ezt hozzáadva biztosítjuk, hogy a szélesség fix legyen */
    justify-content: space-around;
  }

  .slide-text {
    font-size: 2rem;
    margin: 0px;
    /* Kisebb szöveg kisebb képernyőkön */
  }

  .slide-picture {
    flex: 0 0 100%;
    margin-bottom: 20px;
    height: 250px;
    /* A kisebb képernyőkön kisebb magasság */
  }

  .slide-picture img {
    object-fit: contain;
    /* A kép jobban illeszkedjen a kisebb képernyőkhöz */
  }

  .slide-container {
    display: flex;
    flex-direction: column;
  }

  .slide-text h2 {
    font-size: 16px;
  }

  .slide-text p {
    font-size: 12px;
  }
  .slide img{
    height: 100px;
  }

}

@media (max-width: 425px) {
  .slide-picture img {
    object-fit: contain;
    /* Biztosítja, hogy a kép kisebb képernyőkön is megfelelően illeszkedjen */
  }
}