.parent {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1,
.div2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rombus {
    height: 50%;
    width: 90%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: backgorund-color 1s;
}

.rombus.dark {
    background-color: blueviolet;
}

.rombus.light {
    background-color: rgb(228, 140, 9);
}

@media only screen and (max-width: 1024px) {
    .rombus {
        clip-path: polygon(13% 0%, 100% 0%, 90% 100%, 0% 100%);
        width: 100%;
    }
}


@media only screen and (max-width: 768px) {
    .parent {
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
    }

    .div1,
    .div2 {
        height: calc(50vh - 0.5rem);
        width: 100%;
        border-radius: 0.5rem;
    }

    .rombus {
        height: 100%;
        width: 100%;
        background-color: inherit;
        z-index: -1;
    }
}