.language-selector {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.language-selector select {
    padding: 6px 12px;
    border: 1px solid var(--light-gray);
    border-radius: 6px;
    background-color:var(--white);
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.language-selector select:hover {
    background-color: var(--white);
}

.language-selector select:focus {
    outline: none;
    border-color: var(--blue);
}
