html,
body {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    height: auto;
    transition: background-color 1s ease;
}

nav.dark {
    background-color: rgba(124, 124, 124, 0.137)
}

nav.light {
    background-color: rgba(71, 71, 71, 0.24)
}