nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: background-color 1s ease;
}

.nav.dark {
    background-color: var(--lightgray-half-visible);
}

.nav.light {
    background-color: var(--lightgray-half-visible);
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--light-gray);
    display: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: max-height 0.3s ease-in-out;
}

.nav a {
    margin: 0 12px;
    text-decoration: none;
    color: var(--light-gray);
    font-weight: 500;
    font-size: 16px;
    transition: color 0.2s ease;
}

.nav a:hover {
    color: var(--blue);
    font-size: 20px;
}

.nav-controls {
    display: flex;
    gap: 12px;
    align-items: center;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
    }

    .nav-links.open {
        max-height: 500px;
        /* vagy elég nagy érték */
    }

    .nav a {
        margin: 10px 0;
        font-size: 18px;
    }
}